pipeline/OLTP_to_ODS.json
{
	"name": "OLTP_to_ODS",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = 'Sales.Orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WWIODS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "WaterMark"
						}
					}
				}
			},
			{
				"name": "LookupNewWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(LastEditedWhen)\nFROM Sales.Orders;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WWIODS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Sales",
							"TableName": "Orders"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM Sales.Orders\nWHERE LastEditedWhen >= @{activity('LookupOldWaterMark').output.firstRow.waterMarkVal}\nAND LastEditedWhen <= @{activity('LookupNewWaterMark').output.firstRow.waterMarkVal};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WWIODS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Sales",
							"TableName": "Orders"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "WWIDW",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Sales",
							"TableName": "Orders"
						}
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('LookupNewWaterMark').output.firstRow.waterMarkVal",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "Sales.Orders",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "WWIODS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Related Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "UpdateWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Table to ODS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@last(split(item(), '.'))",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@first(split(item(), '.'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WWIODS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@first(split(item(), '.'))",
										"TableName": "@last(split(item(), '.'))"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableList": {
				"type": "array",
				"defaultValue": [
					"Sales.Orderlines",
					"Sales.Invoices",
					"Sales.Customers",
					"Application.People",
					"Warehouse.StockItems",
					"Warehouse.PackageTypes"
				]
			}
		},
		"annotations": []
	}
}