pipeline/OLTP_ODS.json
{
	"name": "OLTP_ODS",
	"properties": {
		"activities": [
			{
				"name": "For Sales Tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.SalesTableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Sales Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"SchemaName": "Sales"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WWI_ODS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "Sales",
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "For Application Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "For Sales Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ApplicationTableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Application Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WWI_ODS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "Application",
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "For Warehouse Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "For Application Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.WarehouseTableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Warehouse Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"SchemaName": "Warehouse"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WWI_ODS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "Warehouse",
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SalesTableList": {
				"type": "array"
			},
			"ApplicationTableList": {
				"type": "array"
			},
			"WarehouseTableList": {
				"type": "array"
			}
		},
		"annotations": []
	}
}